<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/styles.css">
  </head>
  <body>
    <%- include("partials/errors.ejs") %>
    <h2><%= header %></h2>
    <form class="button-only-navigator" action="/products" method="POST">
        <button class="form-button-navigator" type="submit">Back to Search</button>
    </form>
    <div class="product-edit">   
        <form action="/products/update/<%= product[0].id %>" method="POST">            
            <div class="product-information-edit-inputs-space">
                <div class="product-information-edit-input-space">
                    <label for="productCode" class="product-edit-label">Product Code: </label>
                    <input type="text" name="productCode" id="productCode" class="product-edit-input" value="<%= product[0].code %>">
                </div>
                <div class="product-information-edit-input-space">
                    <label for="productName" class="product-edit-label">Product Name: </label>
                    <input type="text" name="productName" id="productName" class="product-edit-input" value="<%= product[0].name %>">
                </div>
                <div class="product-information-edit-input-space">
                    <label for="productStatus" class="product-edit-label">Product Status: </label>
                    <select id="productStatus" name="productStatus" class="product-edit-input">
                    <% status.map((stat) => { %>
                        <option value="<%= stat.name %>"  <%= product[0].status_name === stat.name ? 'selected' : '' %>><%= stat.name %></option>
                    <% }); %>
                    </select>
                </div>
                <div class="product-information-edit-input-space">
                    <label for="productCategory" class="product-edit-label">Product Category: </label>
                    <select id="productCategory" name="productCategory" class="product-edit-input">
                    <% categories.map((category) => { %>
                        <option value="<%= category.name %>"  <%= product[0].category === category.name ? 'selected' : '' %>><%= category.name %></option>
                    <% }); %>
                    </select>
                </div>
                <div class="product-information-edit-input-space">
                    <% if (product[0].small !== null) { %>
                        <label for="productSmallPrice" class="product-edit-label">Small Price: </label>
                        <input type="text" name="productSmallPrice" id="productSmallPrice" class="product-edit-input" value="<%= product[0].small %>">
                    <% } else if (product[0].solo !== null) { %>
                        <label for="productSoloPrice" class="product-edit-label">Solo Price: </label>
                        <input type="text" name="productSoloPrice" id="productSoloPrice" class="product-edit-input" value="<%= product[0].solo %>">
                    <% } %>
                </div>
                <div class="product-information-edit-input-space">
                    <% if (product[0].large !== null) { %>
                        <label for="productLargePrice" class="product-edit-label">Large Price: </label>
                        <input type="text" name="productLargePrice" id="productLargePrice" class="product-edit-input" value="<%= product[0].large %>">
                    <% } else if (product[0].for_share !== null) { %>
                        <label for="productForSharePrice" class="product-edit-label">For Share Price: </label>
                        <input type="text" name="productForSharePrice" id="productForSharePrice" class="product-edit-input" value="<%= product[0].for_share %>">
                    <% } %>
                </div>
                <div class="product-information-edit-input-space">
                    <label for="productDescription" class="product-edit-label">Product Description: </label>
                    <textarea name="productDescription" id="productDescription" class="product-edit-input" rows="5" cols="40"><%= product[0].description %></textarea>
                </div>
                <div class="product-information-edit-input-space">
                    <label for="productImage" class="product-edit-label">Product Image URL: </label>
                    <textarea name="productImage" id="productImage" class="product-edit-input" rows="5" cols="40"><%= product[0].image %></textarea>
                </div>
            </div> 
            <div class="product-update-buttons-space">
                <button class="update-button" type="submit">Update</button>
            </div>
        </form>
        <div class="product-delete-buttons-space">
            <form class="button-only-submit" action="/products/delete/<%= product[0].id %>" method="POST">
                <button class="delete-button" type="submit" onclick="return confirm('This product will be erased from database permanently, proceed?');">Delete</button>
            </form>
        </div>
    </div>
  </body>
</html> 
