<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/styles.css">
  </head>
  <body>
    <%- include("partials/errors.ejs") %>
    <%- include('partials/navbar.ejs', {links: links}) %>
    <%- include('partials/menuFilter.ejs', {filter: filter}) %>
    <div class="menu-space">
        <h2><%= header %></h2>
        <div class="menu-category-space">
          <% products.map((product, index) => { %>
              <div class="product-card-container">
                <img src="<%= product.image %>" alt="<%= product.name %>-icon" class="product-image">
                <div class="product-info-container">
                    <h2 class="product-title"><%= product.name %></h2>
                    <p class="product-description"><%= product.description %></p>  
                </div>
                <div class="price-container">
                    <button class="add-to-cart">
                        <div class="button-icon-and-text">
                        <img class="button-icon-and-text-img" src="/shopping-basket.png" alt="add-to-cart-icon">
                        <!--<span class="button-icon-and-text-text"></span>-->
                        </div>
                    </button>
                    <span class="product-size"><%= product.solo !== null ? 'Solo' : 'Small' %></span>
                    <span class="product-price"><%= product.solo !== null ? product.solo : product.small %></span>
                </div>
                <div class="price-container">
                    <button class="add-to-cart">
                        <div class="button-icon-and-text">
                        <img class="button-icon-and-text-img" src="/shopping-basket.png" alt="add-to-cart-icon">
                        <!--<span class="button-icon-and-text-text"></span>-->
                        </div>
                    </button>
                    <span class="product-size"><%= product.for_share !== null ? 'For Share' : 'Large' %></span>
                    <span class="product-price"><%= product.for_share !== null ? product.for_share : product.large %></span>
                </div>                
              </div>
          
          <% }); %>
        </div>
    </div>
  </body>
</html>
