<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/styles.css">
  </head>
  <body>
    <%- include("partials/errors.ejs") %>
    <%- include('partials/navbar.ejs', {links: links}) %>
    <h2><%= header %></h2>
    <div class="sorter-selection">
        <%- include('partials/sorter.ejs', {sorter: sorter, selectedSorter: selectedSorter, searcher: searcher, searchPattern: searchPattern}) %>
    </div>
    <div class="product-list-space">
      <% searchResult.map((product) =>{ %>
        <div class="product-list-entry">
          <div class="product-info">
            <p class="product-info-title">Product Name: <%= product.name %></p>
            <p class="product-info-p">Product Code: <%= product.code %></p>
            <p class="product-info-p">Product Status: <%= product.status_name %></p>
            <p class="product-info-p">Product Category: <%= product.category_name %></p>
          </div>
        </div>
      <% }); %>
    </div>
  </body>
</html>
