<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/styles.css">
  </head>
  <body>
    <%- include("partials/errors.ejs") %>
    <%- include('partials/navbar.ejs', {links: links}) %>
    <h2><%= header %></h2>
    <div class="sorter-selection">
        <form action="/products" method="GET">
            <label for="sorter">Display by:</label>
            <select id="sorter" name="sorter">
            <option value="All" <%= selectedSorter === 'All' ? 'selected' : '' %>>All</option>
            <% sorter.map((sort) => { %>
                <option value="<%= sort %>" <%= selectedSorter === sort ? 'selected' : '' %>><%= sort %></option>
            <% }); %>
            </select>
            <button type="submit">Sort</button>            
        </form>
        
    </div>
  </body>
</html>
