<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/styles.css">
  </head>
  <body>
    <header>
        <%- include("partials/errors.ejs") %>
        <% if(user.status_code === 3) { %>
          <%- include('partials/navbar2.ejs', {links: memberAuthenticatedLinks}) %>
        <% } else if (user.status_code === 2) { %>
          <%- include('partials/navbar2.ejs', {links: guestAuthenticatedLinks}) %>
        <% } else if (user.status_code === 1) { %>
          <%- include('partials/navbar2.ejs', {links: adminAuthenticatedLinks}) %>
        <% } %>
        <h1 class="page-header">→ What's on your mind? 🧠</h1>
        <h2 class="welcome-user-header"><%= header %></h2>
    </header>
    <main class="message-board">
      <!--If membership guest censor author of messages unless belong to user logged in-->
      <% messages.forEach((message) => { %>
        <% if(user.status_code === 3 || (user.username === message.username)) { %>
          <%- include('partials/message_bubble2.ejs', {message: message}) %>
        <% } else if (user.status_code === 2) { %>
          <%- include('partials/message_bubble.ejs', {message: message}) %>
        <% } %>
      <% }); %>
    </main>
  </body>
</html>
