<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/styles.css">
  </head>
  <body>
    <header>
      <%- include("partials/errors.ejs") %>
      <% if (access) { %>
        <%- include('partials/navbar.ejs', {links: authenticatedLinks}) %>
      <% } else { %>
        <%- include('partials/navbar.ejs', {links: notAuthenticatedLinks}) %>
      <% }; %>
      <h1 class="page-header">→ Members Only Blogspot</h1>
    </header>
    <main class="message-board">
      <% messages.forEach((message) => { %>
        <%- include('partials/message_bubble.ejs', {message: message, access: access}) %>
      <% }); %>
    </main>
  </body>
</html>
