<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/styles.css">
  </head>
  <body>
    <header>
      <%- include("partials/errors.ejs") %>
      <% if(user.status_code === 3 || (user.username === message.username)) { %>
        <%- include('partials/navbar2.ejs', {links: memberAuthenticatedLinks}) %>
      <% } else if (user.status_code === 2) { %>
        <%- include('partials/navbar2.ejs', {links: guestAuthenticatedLinks}) %>
      <% } else if (user.status_code === 1) { %>
        <%- include('partials/navbar2.ejs', {links: adminAuthenticatedLinks}) %>
      <% } %>
      <h1 class="page-header">→ <%= header %></h1>
    </header>
    <main class="logged-user-messages">
      <% if(messages.length === 0) { %>
        <p class="no-loggedin-user-messages">You have not post any messages yet! <a href="/messages/new">Post a Message now</a></p>
      <% } else { %>
        <% messages.forEach((message) => { %>
          <%- include('partials/message_entry.ejs', {message: message, editable: message.editable}) %>
        <% }); %>
      <% } %>
    </main>
  </body>
</html>
