<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/styles.css">
  </head>
  <body>
    <header>
      <%- include("partials/errors.ejs") %>
      <% if(user.role === 'USER') { %>
        <%- include('partials/navbar2.ejs', {links: memberAuthenticatedLinks}) %>
      <% } else if (user.role === 'GUEST') { %>
        <%- include('partials/navbar2.ejs', {links: guestAuthenticatedLinks}) %>
      <% } else if (user.role === 'ADMIN') { %>
        <%- include('partials/navbar2.ejs', {links: adminAuthenticatedLinks}) %>
      <% } %>
      <h2 class="page-header">⤴️⤵️ File Uploader - Public Files Dashboard</h2>
      <h3 class="welcome-header"><%= header %></h3>
    </header>
    <main class="public-dashboard">
      <% if (files && files.length > 0) { %>
        <% files.forEach((file) => { %>
          <%- include('partials/file_entry.ejs', {file: file, user: user}) %>
        <% }); %>
      <% } else { %>
        <p>No public files available yet</p>
      <% }; %>
    </main>
  </body>
</html>
