<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Upload a File</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <header class="fileUpload-page">
    <%- include("partials/errors.ejs") %>
    <% if(user.role === 'USER') { %>
      <%- include('partials/navbar2.ejs', {links: memberAuthenticatedLinks}) %>
    <% } else if (user.status_code === 'GUEST') { %>
      <%- include('partials/navbar2.ejs', {links: guestAuthenticatedLinks}) %>
    <% } else if (user.status_code === 'ADMIN') { %>
      <%- include('partials/navbar2.ejs', {links: adminAuthenticatedLinks}) %>
    <% } %>
    <h1 class="page-header">⤴️⤵️ File Uploader</h1>
    <h2 class="welcome-user-header"><%= header %></h2>
  </header>
  <main class="fileUpload-page">
    <form class="fileUpload-page-button-only" action="/" method="GET">
        <button type="submit" class="fileUpload-page-back">Back to Home</button>
    </form>
    <p class="fileUpload-instructions">
        
    </p>
    <form class="fileUpload" action="/files/new" method="POST" enctype="multipart/form-data">
        <div class="input-container fileUpload-input">
          <label for="uploadedFile">Please choose file/s to upload. </label>
          <input id="uploadedFile" name="uploadedFile" type="file"/>
        </div>
        <div class="input-container fileUpload-input folder-selection">
          <span class="selection-title">Upload to: </span>
          <div class="folder-selection">
            <label class="radio-container">
              <input type="radio" name="folderSelection" value="new">New
            </label>
            <label class="radio-container">
              <input type="radio" name="folderSelection" value="existing">Existing
            </label>
          </div>
        </div>
        <div class="input-container fileUpload-input new-folder">
          <label for="newFolderName">Specify name of new folder: </label>
          <input id="newFolderName" name="newFolderName" placeholder="Where folder to save?" type="text" />
        </div>
        <div class="input-container fileUpload-input existing-folder">
          <label for="existingFolderName">Choose existing folder: </label>
          <select name="existingFolderName" placeholder="Please specify new folder name">
            <% folders.forEach((folder)=> { %>
              <option value="<%= folder.name %>" <% folder.name === "main" ? "default" : "" %> ><%= folder.name %></option>
            <% }) %>
          </select>
        </div>
        <div class="fileUpload-submit-button-space">
          <button type="submit" class="fileUpload-page-submit">Upload</button>
        </div>
    </form>
  </main>
  <script src="/listener.js"></script>
</body>
</html>