<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/styles.css">
  </head>
  <body>
    <header>
      <%- include("partials/errors.ejs") %>
      <!--Include adminAuthenticated Links pag naayos na user.roles-->
      <%- include('partials/navbar2.ejs', {links: memberAuthenticatedLinks}) %>
      <h1 class="page-header"><%= header %></h1>
    </header>
    <main class="logged-user-files">
      <% if(files.length === 0) { %>
        <p class="no-loggedin-user-files">You have not post any files yet! <a href="/files/new">Upload a File now</a></p>
      <% } else { %>
        <% files.forEach((message) => { %>
          <%- include('partials/file_entry.ejs', {file: file}) %>
        <% }); %>
      <% } %>
    </main>
  </body>
</html>
