<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/styles.css">
  </head>
  <body>
    <header>
      <%- include("partials/errors.ejs") %>
      <!--Include adminAuthenticated Links pag naayos na user.roles-->
      <%- include('partials/navbar2.ejs', {links: memberAuthenticatedLinks}) %>
      <h1 class="page-header"><%= header %></h1>
    </header>
    <main class="view-file">
      <%- include('partials/file_container.ejs', {user: user, file: file }) %>
    </main>
  </body>
</html>