<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/styles.css">
  </head>
  <body>
    <header>
      <%- include("partials/errors.ejs") %>
      <% if(user.role === 'USER') { %>
        <%- include('partials/navbar2.ejs', {links: memberAuthenticatedLinks}) %>
      <% } else if (user.status_code === 'GUEST') { %>
        <%- include('partials/navbar2.ejs', {links: guestAuthenticatedLinks}) %>
      <% } else if (user.status_code === 'ADMIN') { %>
        <%- include('partials/navbar2.ejs', {links: adminAuthenticatedLinks}) %>
      <% } %>
      <h1 class="page-header"><%= header %></h1>
    </header>
    <main class="view-file">
      <%- include('partials/file_container.ejs', {user: user, file: file }) %>
    </main>
  </body>
</html>