<form action="/products" method="POST">
    <label for="sorter">Search by:</label>
    <select id="sorter" name="sorter">
        <option value="All" <%= selectedSorter === "All" ? 'selected' : '' %>>All</option>
        <% sorter.map((sort) => { %>
            <option value="<%= sort %>"  <%= selectedSorter === sort ? 'selected' : '' %>><%= sort %></option>
        <% }); %>
    </select>
    <button type="submit">Select</button>
</form>
<form action="/products/filtered" method="get">
    <label for="searcher">Pattern/Category:</label>
    <select id="searcher" name="searcher">
        <option value=""  <%= searchPattern === "" ? 'selected' : '' %>>-- No Pattern Selected --</option>
    <% searcher.map((search) => { %>
        <option value="<%= search %>"  <%= searchPattern === search ? 'selected' : '' %>><%= search %></option>
    <% }); %>
    </select>
    <button type="submit">Search</button>
</form>