<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/styles.css">
  </head>
<body>
  <h1><%= title %></h1>
  <%- include("partials/errors.ejs") %>  
  <h4>Matched Users:</h4>
  <ul>
    <% if (matches) {%>
      <% matches.forEach(function(match) { %>
        <li>
          <p class="user-id">ID: <%= match.id %></p>
            <p class="user-name">Username: <%= match.username %></p>
            <p class="user-email">Email: <%= match.email %></p>
            <form class="button-only" action="/users/<%= match.id %>/update" method="GET">
              <button class="update-user" type="submit">Update</button>
            </form>
            <form class="button-only" action="/users/<%= match.id %>/delete" method="POST">
              <button class="delete-user" type="submit" onclick="return confirm('Are you sure you want to delete this user?');">Delete</button>
            </form>
        </li>
        <form class="button-only" action="/users" method="GET">
          <button class="update-user" type="submit">Back to Users List</button>
        </form>
      <% }); %>
    <% } %>
  </ul>
</body>
</html>
