<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/styles.css">
  </head>
<body>
  <h1><%= title %></h1>
  <%- include("partials/errors.ejs") %>
  <form action="/users/update/<%= user.id %>" method="POST">
    <input type="text" name="username" value="<%= user.username %>" required>
    <input type="text" name="userEmail" value="<%= user.email %>" required>
    <button type="submit">Update User</button>
  </form>
  <form class="button-only" action="/users" method="GET">
    <button class="update-user" type="submit">Back to Users List</button>
  </form>
</body>
</html>
